/* stylesheet */

body {
  margin: 0 auto;
}

.gradation {
  animation: gradationTest 10s infinite;
}

@keyframes gradationTest {
  0% { background-color: #6CB8FF; }
  50% { background-color: #FFF66C; }
  100% { background-color: #FFA36C; }
}

h1 {
  margin-top: 40vh;
  text-align: center;
}

h2 {
  margin-top: 10vh;
  text-align: center;
}

p {
  margin-top: 10vh;
  text-align: center;
}
